name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Trigger saat ada perubahan di branch main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Python environment
      - name: Set up Python 3.10.13
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.13'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt
          conda env create -f MLProject/conda.yaml

      # Step 4: Run MLflow Project
      - name: Run MLflow Project
        run: |
          cd MLProject
          conda run -n mlflow-env python modelling.py

      # Step 5: Upload MLflow Artifacts to GitHub
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts-${{ github.run_id }}
          path: mlruns
          retention-days: 7

      # Step 6: Upload MLflow Artifacts to Google Dr
      - name: Upload to Google Drive
        run: |
          # Install gdrive CLI
          curl -L -o gdrive https://github.com/prasmussen/gdrive/releases/download/2.1.0/gdrive-linux-x64
          chmod +x gdrive

          # Simpan token dari GitHub Secrets
          echo "${{ secrets.GDRIVE_TOKEN }}" > token.json

          # Autentikasi dan upload
          ./gdrive list
          ./gdrive upload --parent 1bfyzI2NylGqWFaYyf1MSSSRjuet7_F3L mlruns
