name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Trigger ketika ada perubahan di branch 'main'
  pull_request:
    branches:
      - main  # Trigger ketika ada PR yang diajukan ke branch 'main'

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          conda env create -f MLProject/conda.yaml  # Install dependencies from conda.yaml

      # Step 4: Run MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run ./MLProject --experiment-name "SMSML_CI_CD" -v

      # Step 5: Upload MLflow Artifacts (optional)
      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v3.1  # Use version v3.1 to avoid deprecated v3
        with:
          name: tensorflow-model-artefacts-${{ github.run_id }}
          path: mlruns  # Path to MLflow artifacts
          retention-days: 7
