name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Trigger saat ada perubahan di branch main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Python 3.10.13
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.13'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt  # Install dependencies dari requirements.txt
          conda env create -f MLProject/conda.yaml  # Install dependencies dari conda.yaml

      # Step 4: Verify environment creation (Optional, to check if the environment is created)
      - name: Verify Conda Environment
        run: |
          conda info --envs  # This will list all available conda environments

      # Step 5: Run MLflow Project using `conda run`
      - name: Run MLflow Project
        run: |
          conda run -n mlflow-env python modelling.py  # Replace with the correct environment name

      # Step 6: Upload MLflow Artifacts
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts-${{ github.run_id }}
          path: mlruns
          retention-days: 7
