name: MLflow CI Workflow

on:
  push:
    branches:
      - main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt
          conda env create -f MLProject/conda.yaml  # Install dependencies from conda.yaml

      # Step 4: Run MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run ./MLProject --experiment-name "SMSML_CI_CD" -v

      # Step 5: Upload MLflow Artifacts using v4 (Updated)
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4  # Update to v4
        with:
          name: tensorflow-model-artefacts-${{ github.run_id }}
          path: mlruns  # Path to MLflow artifacts
          retention-days: 7
