name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Trigger saat ada perubahan di branch main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.10.13
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt  # Install dependencies dari requirements.txt
          conda env create -f MLProject/conda.yaml  # Install dependencies dari conda.yaml

      - name: Run MLflow Project
        run: |
          conda run -n mlflow-843f9a16f45e4548f1d4270bda30bb10dcc5ca53 python modelling.py
          # Menggunakan `conda run` untuk menjalankan skrip Python dalam environment Conda yang dibuat

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts-${{ github.run_id }}
          path: mlruns
          retention-days: 7
