name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Or your desired branch

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt  # Ensure correct path to requirements.txt

      - name: Install conda dependencies
        run: |
          conda env create -f MLProject/conda.yaml  # Install dependencies from conda.yaml

      - name: Run MLflow Project
        run: |
          mlflow run ./MLProject --experiment-name "SMSML_CI_CD" -v

      - name: Upload model artifacts
        uses: actions/upload-artifact@v3.1  # Update to v3.1
        with:
          name: model
          path: ./MLProject/model  # Ensure the correct path to saved model
