name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Trigger saat ada perubahan di branch main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Python environment
      - name: Set up Python 3.10.13
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.13'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt  # Install dependencies dari requirements.txt
          conda env create -f MLProject/conda.yaml  # Install dependencies dari conda.yaml

      # Step 4: Change directory to MLProject and run MLflow project
      - name: Run MLflow Project
        run: |
          cd MLProject  # Pindah ke folder MLProject
          conda run -n mlflow-env python modelling.py  # Jalankan modelling.py di dalam environment Conda

    # Step 5: Upload MLflow Artifacts (PASTIKAN SUDAH MENGGUNAKAN PATH INI)
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts-${{ github.run_id }}
          path: MLProject/mlruns  # <--- INI PATH YANG BENAR
          retention-days: 7
