name: MLflow CI Workflow

on:
  push:
    branches:
      - main  # Atau sesuai dengan branch Anda

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt  # Memastikan path ke requirements.txt sesuai

      - name: Install conda dependencies
        run: |
          conda env create -f MLProject/conda.yaml  # Menginstal dependencies dari conda.yaml

      - name: Run MLflow Project
        run: |
          mlflow run ./MLProject --experiment-name "SMSML_CI_CD" -v

      - name: Upload model artifacts
        uses: actions/upload-artifact@v3
        with:
          name: model
          path: ./MLProject/model  # Pastikan path sesuai dengan lokasi model yang disimpan
